{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Reset Password</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="POST" action="{{ url_for('reset_password') }}">
                <!-- Email input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="email" name="email" value="{{ email }}" class="form-control" hidden/>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="number" id="otp" name="otp" class="form-control"/>
                    <label class="form-label" for="form2Example1">Enter OTP</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" id="new_password" name="new_password" class="form-control"/>
                    <label class="form-label" for="form2Example1">Enter New Password</label>
                </div>

                <!-- Password input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Update Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}